* {
  box-sizing: border-box;
}

body {
  background-color: #222222;
}

h1 {
  color: #dfdfdf;
  font-size: 48px;
}

.timer {
  margin: 0 auto;
  margin-top: 200px;
  width: 500px;
  height: 600px;
  text-align: center;
  border: 5px solid #efefef;
  padding: 50px;
  border-radius: 20px;
}

button {
  width: 90%;
  height: 70px;
  margin-top: 40px;
  background-color: #444444;
  border: 1px solid #bfbfbf;
  color: #dfdfdf;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.2s background-color linear;
}

button:hover {
  background-color: #333;
}

button:disabled {
  background-color: #555;
  color: #bbbbbb;
}
